{% extends "templates/base.html" %}
{% load static %}
{% load i18n %}

{% block additional_head_styles %}
<link rel="stylesheet" href="{% static 'products/styles/common.css' %}">
<link rel="stylesheet" href="{% static 'products/styles/products_details.css' %}">
{% endblock %}

{% block body %}
<div class="container mt-5">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            {% for breadcrumb in breadcrumbs %}
            {% if forloop.last %}
                <li class="breadcrumb-item active" aria-current="page">
                   {{ breadcrumb.name }}
                </li>
            {% else %}
                <li class="breadcrumb-item">
                    <a href="{{ breadcrumb.url }}" class="text-dark">{{ breadcrumb.name }}</a>
                </li>
            {% endif %}
            {% endfor %}
        </ol>
    </nav>
    <div class="row">
        <div class="col-md-6">
            <!-- <div id="productCarousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    {% for image in images_url %}
                    <div class="carousel-item {% if forloop.first %}active{% endif %}">
                        <div class="image-wrapper">
                            <img src="{{ image.url }}" class="square-image rounded img-thumbnail"
                                 alt="{{ product.name }} {{ forloop.counter }}">
                        </div>
                    </div>
                    {% empty %}
                    <div class="carousel-item active">
                        <div class="image-wrapper">
                            <img src="{% static 'defaults/no-image.webp' %}" class="square-image rounded img-thumbnail"
                                 alt="{% translate 'Изображение продукта временно отсутствует.' %}">
                        </div>
                    </div>
                    {% endfor %}
                </div>
                
                {% if product.images.count > 1 %}
                <button class="carousel-control-prev" type="button" data-bs-target="#productCarousel"
                        data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">{% translate 'Предыдущее фото букета' %}</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#productCarousel"
                        data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">{% translate 'Следующее фото букета' %}</span>
                </button>
                {% endif %}
            </div> -->
            <div id="carouselExampleIndicators" class="carousel slide">
                <div class="carousel-inner">
                    {% for image in product.images.all %}
                    <div class="carousel-item {% if forloop.first %}active{% endif %}">
                        <div class="image-wrapper">
                            <img src="{{ image.image.url }}" class="square-image rounded img-thumbnail"
                                 alt="{{ product.name }} image {{ forloop.counter }}">
                        </div>
                    </div>
                    {% empty %}
                    <div class="carousel-item active">
                        <div class="image-wrapper">
                            <img src="{% static 'defaults/no-image.webp' %}" class="square-image rounded img-thumbnail"
                                 alt="{% translate 'Изображение продукта временно отсутствует.' %}">
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% if product.images.all.count > 1 %}
                <div class="carousel-indicators mb-2">
                    {% for image in product.images.all %}
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{ forloop.counter0 }}" {% if forloop.counter0 == 0 %}class="active"{% endif %} aria-current="true" aria-label="{{ product.name }} slide indicator {{ forloop.counter }}"></button>
                    {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">{% translate 'Предыдущее фото букета' %}</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">{% translate 'Следующее фото букета' %}</span>
                </button>
                {% endif %}
            </div>
        </div>

        <div class="col-md-6 product-info-container">
            <div class="product-info-card">
                <h2 class="mb-3">{{ product.name }}</h2>
                <h3 class="text-success mb-4">{{ product.price }} {{ currency_symbol }}</h3>

                <h4 class="mb-3">{% translate 'Описание' %}</h4>
                <ul class="list-unstyled product-attributes-list">
                    <li>
                        <strong>{% translate 'Скидка' %}:</strong> {{ product.discount }}%
                    </li>
                </ul>
                {% block additional_attributes %}
                {% endblock %}

                <div class="d-flex mt-4">
                    <form
                        id="add-to-cart-form"
                        method="post"
                        class="w-100 me-2"
                        data-add-url="{% if product.is_bouquet %}{% url 'cart:bouquet-add' %}{% else %}{% url 'cart:product-add' %}{% endif %}"
                        data-remove-url="{% if product.is_bouquet %}{% url 'cart:bouquet-remove' %}{% else %}{% url 'cart:product-remove' %}{% endif %}"
                        data-is-in-cart="{% if product in products_cart or product in bouquets_cart %}true{% else %}false{% endif %}"
                    >
                        {% csrf_token %}
                        <input type="hidden" name="product_slug" value="{{ product.slug }}">
                        {% include 'templates/cartButton.html' %}
                    </form>
                    <form action="" method="post" class="w-100">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-success w-100 px-0 py-1">
                            <i class="fas fa-money-bill-wave me-3 my-2"></i>{% translate 'Купить' %}
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col">
            <div class="info-block p-4 mb-4">
                <h4 class="info-title">{% translate 'Описание' %}</h4>
                <p class="info-text">{{ product.description|safe }}</p>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col">
            <div class="info-block p-4">
                <h4 class="info-title">{% translate 'Характеристики' %}</h4>
                <p class="info-text">{{ product.specs|safe }}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block additional_scripts %}
{% endblock %}