{% extends "templates/base.html" %}
{% load static %}
{% load i18n %}
{% load chunk_filters %}
{% load extract_meta_tags %}

{% block additional_head_styles %}
<link rel="stylesheet" href="{% static 'products/styles/common.css' %}">
{% endblock %}

{% block json_ld %}
{% endblock %}

{% block body %}
<div class="container px-4 text-center">
    <h1>{% translate 'Каталог категорий товаров' %}</h1>
    <div class="categories-container row gap-3 justify-content-center">
        {% for category in bouquets_categories %}
        <div class="category-container card
                        col-lg-3 col-md-5 col-12">
            <div class="category-content card-body text-start">
                <h2 class="fs-5 fw-normal">
                    <a href="{{ category.get_relative_url }}" class="text-decoration-none text-dark fw-bold">
                        {{ category.name }}
                    </a>
                </h2>
                <hr>
                <div class="d-flex flex-column gap-2">
                    {% for subcategory in category.subcategories.all %}
                    <a href="{{ subcategory.get_relative_url }}" class="text-decoration-none text-dark">
                        <div class="subcategory-container d-flex align-items-center">
                            <div class="category-image-wrapper me-2">
                                <img class="img-thumbnail category-square-image rounded" src="{{ subcategory.image.url }}"
                                alt="{{ subcategory.image_alt }}">
                            </div>
                            <h3 class="fs-6 fw-light mb-0">{{ subcategory.name }}</h3>
                        </div>
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endfor %}
        {% for category in products_categories %}
        <div class="category-container card
                        col-lg-3 col-md-5 col-12">
            <div class="category-content card-body text-start">
                <h2 class="fs-5 fw-normal">
                    <a href="{{ category.get_relative_url }}" class="text-decoration-none text-dark fw-bold">
                        {{ category.name }}
                    </a>
                </h2>
                <hr>

                <div class="d-flex flex-column gap-2">
                    {% for subcategory in category.subcategories.all %}
                    <a href="{{ subcategory.get_relative_url }}" class="text-decoration-none text-dark">
                        <div class="subcategory-container
                                            d-flex align-items-center">
                            <div class="category-image-wrapper me-2">
                                <img class="img-thumbnail category-square-image rounded" src="{{ subcategory.image.url }}"
                                alt="{{ subcategory.image_alt }}">
                            </div>
                            <h3 class="fs-6 fw-light">{{ subcategory.name }}</h3>
                        </div>
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block additional_scripts %}
{% endblock %}