{% load i18n %}

<form class="product-decrease-form"
      {% if item.product.is_bouquet %}
      action="{% url 'cart:bouquet-remove-single' %}"
      {% else %}
      action="{% url 'cart:product-remove-single' %}"
      {% endif %}
      method="post"
      data-subtotal-id="{{ item.product.slug }}Subtotal"
      data-product-quantity-input-id="{{ item.product.slug }}QuantityInput">
    {% csrf_token %}
    <input type="hidden" name="product_slug" value="{{ item.product.slug }}">
    <button type="submit" class="btn btn-dark-green px-3 me-2"
        title="{% translate 'Уменьшить количество продукта в корзине' %}">
        <i class="fas fa-minus"></i>
    </button>
</form>