{% extends "templates/base.html" %}
{% load static %}
{% load i18n %}

{% block additional_head_styles %}
<link rel="stylesheet" href="{% static 'cart/styles/cart.css' %}">
<link rel="stylesheet" href="{% static 'styles/common.css' %}">
{% endblock %}

{% block meta_tags %}
<meta name="robots" content="noindex, nofollow" />
<title>{% translate 'Корзина' %} | {{ site_name }}</title>
<meta name="description" content="{% blocktranslate with site_name=site_name %}Оформите заказ на букеты в интернет-магазине {{ site_name }}. Ваша корзина готова к оформлению. Быстрая доставка. {% endblocktranslate %}">
<meta name="keywords" content="{% translate 'корзина букетов, интернет-магазин букетов, доставка цветов, оформить заказ' %}" />
{% endblock %}

{% block body %}
<section class="h-100">
    <div class="container px-2">
        <div class="row d-flex justify-content-center my-4">
            <div class="col-md-8">
                <div class="card mb-4">
                    <div class="card-header py-3 d-flex justify-content-between align-items-center">
                        <h5 class="mb-0">
                            {% translate 'Корзина' %} -
                            <span id="total-count">
                                {% blocktranslate with total_amount=products_cart.count|add:bouquets_cart.count %}
                                {{ total_amount }} эл.
                                {% endblocktranslate %}
                            </span>
                        </h5>
                        {% include 'cart/cartClearForm.html' %}
                    </div>
                    <div id="products-list-container" class="card-body" style="min-height: 423px;">
                        <!-- Single item -->
                        {% for item in bouquets_cart.items %}
                        {% if not forloop.first %}
                        <hr data-id="{{ item.product.slug }}Hr">
                        {% endif %}
                        <div class="row product-container" data-id="{{ item.product.slug }}">
                            <div class="col-lg-3 col-md-12 mb-4 mb-lg-0">
                                <div class="bg-image hover-overlay ripple image-wrapper">
                                    <a href="{{ item.product.get_relative_url }}" class="w-100">
                                        <img src="{{ item.product.first_image_url }}"
                                            class="square-image rounded img-thumbnail"
                                            alt="{{ item.product.first_image_alt }}" />
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                                <a href="{{ item.product.get_relative_url }}"
                                    class="text-decoration-none text-dark product-name">{{ item.product.name }}</a>
                                {% include 'cart/removeItemFromCart.html' %}
                            </div>
                            <div class="col-lg-5 col-md-6 mb-4 mb-lg-0">
                                <div class="d-flex mb-4 mx-l-auto mx-auto" style="max-width: 300px">
                                    {% include 'cart/decreaseItemInCart.html' %}
                                    <div class="form-outline text-center">
                                        <input data-id="{{ item.product.slug }}QuantityInput" min="1" name="quantity"
                                            value="{{ item.quantity }}" type="number" class="form-control" disabled />
                                        <label class="form-label m-0" for="{{ item.product.slug }}QuantityInput">
                                            {% translate 'Количество' %}
                                        </label>
                                    </div>
                                    {% include 'cart/increaseItemInCart.html' %}
                                </div>

                                <p class="text-center text-md-center">
                                    <strong data-id="{{ item.product.slug }}Subtotal">
                                        {{ item.subtotal|floatformat:"2u"}}
                                    </strong>
                                    {{ currency_symbol }}
                                </p>
                            </div>
                        </div>
                        {% endfor %}
                        <!-- Single item -->
                        {% for item in products_cart.items %}
                            {% if bouquets_cart.items %}
                                <hr data-id="{{ item.product.slug }}Hr">
                            {% endif %}
                            {% if not bouquets_cart.items and not forloop.first %}
                                <hr data-id="{{ item.product.slug }}Hr">
                            {% endif %}
                            <div class="row product-container" data-id="{{ item.product.slug }}">
                                <div class="col-lg-3 col-md-12 mb-4 mb-lg-0">
                                    <div class="bg-image image-wrapper">
                                        <a href="{{ item.product.get_relative_url }}" class="w-100">
                                            <img src="{{ item.product.first_image_url }}"
                                                class="square-image rounded img-thumbnail"
                                                alt="{{ item.product.first_image_alt }}" />
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                                    <a href="{{ item.product.get_relative_url }}"
                                        class="text-decoration-none text-dark product-name">{{ item.product.name }}</a>
                                    {% include 'cart/removeItemFromCart.html' %}
                                </div>
                                <div class="col-lg-5 col-md-6 mb-4 mb-lg-0">
                                    <div class="d-flex mb-4 mx-l-auto mx-auto">
                                        {% include 'cart/decreaseItemInCart.html' %}
                                        <div class="form-outline text-center">
                                            <input data-id="{{ item.product.slug }}QuantityInput" min="1" name="quantity"
                                                value="{{ item.quantity }}" type="number" class="form-control" disabled />
                                            <label class="form-label m-0" for="{{ item.product.slug }}QuantityInput">
                                                {% translate 'Количество' %}
                                            </label>
                                        </div>
                                        {% include 'cart/increaseItemInCart.html' %}
                                    </div>

                                    <p class="text-center text-md-center">
                                        <strong data-id="{{ item.product.slug }}Subtotal">
                                            {{ item.subtotal|floatformat:"2u"}}
                                        </strong>
                                        {{ currency_symbol }}
                                    </p>
                                </div>
                            </div>
                        {% endfor %}
                        <!-- Single item -->
                        <div id="no-image-container"
                            class="d-none flex-column justify-content-center align-items-center mt-5">
                            <div id="no-products-svg-container" class="mb-3">
                                <svg width="314" height="287" viewBox="0 0 314 287" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <title>{% translate 'Отсутствие продуктов' %}</title>
                                    <desc>
                                        {% translate 'Иконка, представляющая отсутствие доступных продуктов по запросу
                                        пользователя.' %}
                                    </desc>
                                    <path d="M312.13 2.65939H0.768555V284.393H312.13V2.65939Z" fill="white" />
                                    <path
                                        d="M209.644 103.162C187.559 103.162 165.077 102.267 144.047 96.4215C123.413 90.7079 104.468 79.6228 87.5802 66.8C76.5242 58.4533 66.4709 51.7917 52.1166 52.7923C38.0739 53.5505 24.645 58.7832 13.8034 67.7215C-4.45614 83.6777 -1.71194 113.247 5.59714 133.942C16.5739 165.196 49.9793 186.971 78.3713 201.058C111.17 217.409 147.214 226.914 183.337 232.365C215.001 237.183 255.689 240.659 283.131 220.042C308.33 201.058 315.243 157.771 309.069 128.544C307.571 119.91 302.964 112.12 296.113 106.638C278.408 93.7095 251.995 102.346 232.099 102.767C224.711 102.925 217.191 103.109 209.644 103.162Z"
                                        fill="#F2F2F2" />
                                    <path
                                        d="M156.661 283.603C210.158 283.603 253.526 280.904 253.526 277.574C253.526 274.244 210.158 271.544 156.661 271.544C103.164 271.544 59.7957 274.244 59.7957 277.574C59.7957 280.904 103.164 283.603 156.661 283.603Z"
                                        fill="#F2F2F2" />
                                    <path
                                        d="M19.978 45.1038L54.2805 42.2075C58.558 41.8337 62.8344 42.9375 66.3937 45.3341C69.953 47.7307 72.5793 51.2746 73.833 55.3726L106.711 165.17L100.272 176.676C98.6186 179.641 97.8023 182.998 97.9103 186.389C98.0183 189.78 99.0466 193.079 100.886 195.933C102.725 198.787 105.305 201.089 108.353 202.595C111.4 204.1 114.799 204.752 118.189 204.481L249.858 193.317"
                                        stroke="#BABABA" stroke-linecap="round" stroke-linejoin="round" />
                                    <path
                                        d="M78.741 72.0396L231.783 59.0851C233.291 58.9563 234.808 59.1677 236.222 59.7038C237.637 60.24 238.912 61.087 239.954 62.1821C240.996 63.2773 241.777 64.5924 242.24 66.0299C242.703 67.4674 242.835 68.9905 242.628 70.4862L232.258 145.185C231.943 147.426 230.882 149.497 229.245 151.063C227.608 152.63 225.491 153.601 223.234 153.821L106.711 165.17L78.741 72.0396Z"
                                        fill="white" stroke="#BABABA" stroke-linecap="round" stroke-linejoin="round" />
                                    <path
                                        d="M132.834 229.653C139.697 229.653 145.262 224.1 145.262 217.251C145.262 210.402 139.697 204.85 132.834 204.85C125.97 204.85 120.406 210.402 120.406 217.251C120.406 224.1 125.97 229.653 132.834 229.653Z"
                                        fill="white" stroke="#BABABA" stroke-linecap="round" stroke-linejoin="round" />
                                    <path
                                        d="M219.381 222.333C226.245 222.333 231.809 216.781 231.809 209.931C231.809 203.082 226.245 197.53 219.381 197.53C212.517 197.53 206.953 203.082 206.953 209.931C206.953 216.781 212.517 222.333 219.381 222.333Z"
                                        fill="white" stroke="#BABABA" stroke-linecap="round" stroke-linejoin="round" />
                                    <path
                                        d="M47.1416 39.2427L14.8024 41.9808C11.9999 42.2181 9.9208 44.6775 10.1586 47.474C10.3964 50.2706 12.861 52.3452 15.6635 52.1079L48.0028 49.3698C50.8053 49.1325 52.8844 46.6731 52.6466 43.8766C52.4088 41.0801 49.9441 39.0054 47.1416 39.2427Z"
                                        fill="#D2D2D2" />
                                    <path
                                        d="M143.177 129.729C143.808 124.924 146.066 120.478 149.577 117.129C153.088 113.781 157.641 111.73 162.48 111.319C167.32 110.907 172.155 112.158 176.183 114.865C180.212 117.572 183.192 121.572 184.63 126.201"
                                        stroke="#BABABA" stroke-linecap="round" stroke-linejoin="round" />
                                    <path
                                        d="M184.973 101.319C186.605 101.319 187.928 99.9986 187.928 98.3699C187.928 96.7413 186.605 95.421 184.973 95.421C183.341 95.421 182.018 96.7413 182.018 98.3699C182.018 99.9986 183.341 101.319 184.973 101.319Z"
                                        fill="#BABABA" />
                                    <path
                                        d="M138.137 105.268C139.769 105.268 141.092 103.948 141.092 102.32C141.092 100.691 139.769 99.3705 138.137 99.3705C136.505 99.3705 135.181 100.691 135.181 102.32C135.181 103.948 136.505 105.268 138.137 105.268Z"
                                        fill="#BABABA" />
                                    <path d="M54.8875 213.591V224.94" stroke="#BABABA" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                    <path d="M49.2146 219.252H60.5608" stroke="#BABABA" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                    <path d="M236.189 2.63303V13.955" stroke="#BABABA" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                    <path d="M230.516 8.2941H241.863" stroke="#BABABA" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                    <path d="M101.855 36.4674V47.7895" stroke="#BABABA" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                    <path d="M96.1558 42.1284H107.528" stroke="#BABABA" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                    <path
                                        d="M264.502 78.0956C265.988 78.0956 267.193 76.8932 267.193 75.4099C267.193 73.9266 265.988 72.7242 264.502 72.7242C263.016 72.7242 261.811 73.9266 261.811 75.4099C261.811 76.8932 263.016 78.0956 264.502 78.0956Z"
                                        fill="white" stroke="#BABABA" stroke-linecap="round" stroke-linejoin="round" />
                                    <path
                                        d="M163.917 53.9507C165.345 53.9507 166.503 52.7955 166.503 51.3704C166.503 49.9453 165.345 48.79 163.917 48.79C162.489 48.79 161.331 49.9453 161.331 51.3704C161.331 52.7955 162.489 53.9507 163.917 53.9507Z"
                                        fill="#CFCFCF" />
                                    <path
                                        d="M181.279 241.212C182.707 241.212 183.865 240.056 183.865 238.631C183.865 237.206 182.707 236.051 181.279 236.051C179.851 236.051 178.693 237.206 178.693 238.631C178.693 240.056 179.851 241.212 181.279 241.212Z"
                                        fill="#CFCFCF" />

                                </svg>
                            </div>
                            <p>{% translate 'К сожалению, корзина пуста.' %}</p>
                        </div>
                    </div>
                </div>
                <div class="card mb-4 mb-lg-4">
                    <div class="card-header">
                        <h3 class="fw-bold mt-2">{% translate 'Предупреждение:' %}</h3>
                    </div>
                    <div class="card-body">
                        <p class="m-0 p-0">
                            {% blocktranslate %}
                            <strong>Обратите внимание:</strong> Внешний вид букета может незначительно отличаться от изображения из-за сезонности или наличия цветов.
                            О любых изменениях мы сообщим Вам лично 🌸
                            {% endblocktranslate %}
                        </p>
                    </div>
                </div>
                <div class="card mb-4 mb-lg-4">
                    <div class="card-header">
                        <h3 class="mt-2">{% translate 'Способы оплаты:' %}</h3>
                    </div>
                    <div class="card-body payment-options">
                        <!-- <img alt="{% translate 'способ оплаты по IBAN' %}" src="{% static 'defaults/iban.png' %}" /> -->
                        <img alt="{% translate 'visa логотип' %}" src="{% static 'defaults/visa-logo.png' %}" />
                        <img alt="{% translate 'mastercard логотип' %}" src="{% static 'defaults/mc-logo.png' %}" />
                        <img alt="{% translate 'american express логотип' %}" src="{% static 'defaults/amex-logo.png' %}" />
                        <!-- <img alt="{% translate 'jcb логотип' %}" src="{% static 'defaults/jcb-logo.png' %}" /> -->
                        <img alt="{% translate 'paypal логотип' %}" src="{% static 'defaults/paypal-logo.png' %}" />
                        <img alt="{% translate 'klarna логотип' %}" src="{% static 'defaults/klarna-logo.webp' %}"
                             style="border-radius: 25%;"/>
                        <img alt="{% translate 'revolut логотип' %}" src="{% static 'defaults/revolut-logo.png' %}"/>
                        <img alt="{% translate 'stripe логотип' %}" src="{% static 'defaults/stripe-logo.svg' %}"/>
                    </div>
                </div>
                <div class="card cards-container mb-4 mb-lg-4">
                    <div class="card-header">
                        <h2 class="text-center mt-2">{% translate 'Рекомендуемые букеты к покупке' %}</h2>
                    </div>
                    <div class="card-body row gy-2">
                        {% for recommended_product in recommended_bouquets %}
                        <div class="col-6 col-lg-4">
                            <div class="card h-100 w-100  d-flex" style="min-height: 404px;">
                                <a href="{{ recommended_product.get_relative_url }}" class="text-dark w-100">
                                    <div class="image-wrapper">
                                    {% if recommended_product.has_discount %}
                                        <span class="badge bg-dark-green m-2 p-2 fs-5 product-discount-badge">-{{ recommended_product.discount }}%</span>
                                    {% endif %}
                                    <img src="{{ recommended_product.first_image_url }}" class="card-img-top square-image"
                                        alt="{{ recommended_product.first_image_alt }}"
                                        loading="lazy">
                                    </div>
                                </a>
                                <div class="card-body d-flex flex-column">
                                    <span class="card-title">{{ recommended_product.name }}</span>
                                    <div class="mt-auto">
                                        <p class="card-text d-flex flex-column">
                                            {% if recommended_product.has_discount %}
                                                <div class="d-flex justify-content-center">
                                                    <span class="text-danger mb-0 product-discounted-price fw-bold">
                                                        {{ recommended_product.tax_price_discounted|floatformat:"2u" }} {{ currency_symbol }}
                                                    </span>
                                                </div>
                                                <div class="d-flex justify-content-center">
                                                    <span class="text-muted text-decoration-line-through mb-0 product-old-price fw-bold">
                                                        {{ recommended_product.tax_price|floatformat:"2u" }} {{ currency_symbol }}
                                                    </span>
                                                </div>
                                            {% else %}
                                            <div class="d-flex justify-content-center">
                                                <span class="product-price fw-bold">
                                                    {{ recommended_product.tax_price|floatformat:"2u" }} {{ currency_symbol }}
                                                </span>
                                            </div>
                                            {% endif %}
                                        </p>
                                        <form data-id="{{ recommended_product.slug }}AddForm" method="post" class="add-to-cart-form w-100 me-2" data-add-url="{% url 'cart:bouquet-add' %}"
                                        data-remove-url="{% url 'cart:bouquet-remove' %}"
                                        data-is-in-cart="{% if recommended_product in bouquets_cart %}true{% else %}false{% endif %}"
                                        data-is-bouquet="true">
                                        {% csrf_token %}
                                        <input type="hidden" name="product_slug" value="{{ recommended_product.slug }}">
                                        {% include 'templates/cartButton.html' %}
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="card cards-container mb-4 mb-lg-4">
                    <div class="card-header">
                        <h2 class="text-center mt-2">{% translate 'Рекомендуемые подарки к букетам' %}</h2>
                    </div>
                    <div class="card-body row gy-2">
                        {% for recommended_product in recommended_products %}
                        <div class="col-6 col-lg-4">
                            <div class="card h-100 w-100  d-flex" style="min-height: 404px;">
                                <a href="{{ recommended_product.get_relative_url }}" class="text-decoration-none text-dark w-100">
                                    <div class="image-wrapper">
                                    {% if recommended_product.has_discount %}
                                        <span class="badge bg-dark-green m-2 p-2 fs-5 product-discount-badge">-{{ recommended_product.discount }}%</span>
                                    {% endif %}
                                    <img src="{{ recommended_product.first_image_url }}" class="card-img-top square-image"
                                        alt="{{ recommended_product.first_image_alt }}"
                                        loading="lazy">
                                    </div>
                                </a>
                                <div class="card-body d-flex flex-column">
                                    <h5 class="card-title">{{ recommended_product.name }}</h5>
                                    <div class="mt-auto">
                                        <p class="card-text d-flex flex-column">
                                            {% if recommended_product.has_discount %}
                                                <div class="d-flex justify-content-center">
                                                    <span class="text-danger mb-0 product-discounted-price fw-bold">
                                                        {{ recommended_product.tax_price_discounted|floatformat:"2u" }} {{ currency_symbol }}
                                                    </span>
                                                </div>
                                                <div class="d-flex justify-content-center">
                                                    <span class="text-muted text-decoration-line-through mb-0 product-old-price fw-bold">
                                                        {{ recommended_product.tax_price|floatformat:"2u" }} {{ currency_symbol }}
                                                    </span>
                                                </div>
                                            {% else %}
                                            <div class="d-flex justify-content-center">
                                                <span class="product-price fw-bold">
                                                    {{ recommended_product.tax_price|floatformat:"2u" }} {{ currency_symbol }}
                                                </span>
                                            </div>
                                            {% endif %}
                                        </p>
                                        <form data-id="{{ recommended_product.slug }}AddForm" method="post" class="add-to-cart-form w-100 me-2" data-add-url="{% url 'cart:product-add' %}"
                                        data-remove-url="{% url 'cart:product-remove' %}"
                                        data-is-in-cart="{% if recommended_product in products_cart %}true{% else %}false{% endif %}"
                                        data-is-bouquet="false">
                                        {% csrf_token %}
                                        <input type="hidden" name="product_slug" value="{{ recommended_product.slug }}">
                                        {% include 'templates/cartButton.html' %}
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-header py-3">
                        <h2 class="mb-0 fs-5">{% translate 'Резюме заказа' %}:</h2>
                    </div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <li
                                class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                                {% translate 'Чистая стоимость' %}
                                <div class="d-flex">
                                    <strong id="products-total-price" class="me-1">
                                        {{ sub_total|floatformat:"2u" }}
                                    </strong>
                                    {{ currency_symbol }}
                                </div>
                            </li>
                            <li
                                class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                                {% translate 'Налоговая стоимость' %}
                                <div class="d-flex">
                                    <strong id="taxes" class="me-1">
                                        {{ tax|floatformat:"2u" }}
                                    </strong>
                                    {{ currency_symbol }}
                                </div>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                                {% translate 'Доставка' %}
                                <span>{% translate 'Бесплатно' %}</span>
                            </li>
                            <li
                                class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                                <div>
                                    <strong>{% translate 'Итоговая стоимость' %}</strong>
                                    <strong>
                                        <p class="mb-0">({% translate 'Включая НДС' %})</p>
                                    </strong>
                                </div>
                                <span>
                                    <strong id="grand-total-price">
                                        {{ grand_total|floatformat:"2u" }}
                                    </strong>
                                    {{ currency_symbol }}
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card mb-4">
                    <div class="card-header">
                        <h5 class="mb-0">{% translate 'Адрес доставки' %}:</h2>
                    </div>
                    <div class="card-body">
                        <form id="order-form" method="POST">
                            {% csrf_token %}
                            <div class="mb-3 form-check">
                                <input name="clarify_address" type="checkbox" class="form-check-input checkbox-dark" id="confirm-address">
                                <label class="form-check-label" for="confirm-address">
                                    {% translate 'Уточнить адрес у получателя?' %}
                                </label>
                                {% if form.errors.clarify_address %}
                                {% for error in form.errors.clarify_address %}
                                <div class="form-text text-danger">
                                    {{ error|striptags }}
                                </div>
                                {% endfor %}
                                {% endif %}
                            </div>
                            <div class="mb-3" id="email-container">
                                <label for="email" class="form-label">{% translate 'Email' %}</label>
                                <input name="email" type="email" class="form-control" id="email" autocomplete="email" required
                                value="
                                {% with user=view.request.user %}
                                    {% if user.is_authenticated %}
                                        {{ user.email }}
                                    {% endif %}
                                {% endwith %}
                                "
                                >
                                {% if form.errors.email %}
                                {% for error in form.errors.email %}
                                <div class="form-text text-danger">
                                    {{ error|striptags }}
                                </div>
                                {% endfor %}
                                {% endif %}
                            </div>
                            <div class="mb-3" id="address-form-container">
                                <label for="address-form" class="form-label">{% translate 'Форма обращения' %}</label>
                                <select class="form-select" id="address-form"
                                        name="address_form" autocomplete="honorific-prefix"
                                        required>
                                    <option value="" disabled selected>{% translate 'Выберите форму обращения' %}</option>
                                    <option value="Mr.">{% translate 'Уважаемый' %}</option>
                                    <option value="Mrs.">{% translate 'Уважаемая' %}</option>
                                  </select>
                                {% if form.errors.address_form %}
                                {% for error in form.errors.address_form %}
                                <div class="form-text text-danger">
                                    {{ error|striptags }}
                                </div>
                                {% endfor %}
                                {% endif %}
                            </div>
                            <div class="mb-3" id="name-container">
                                <label for="name" class="form-label">{% translate 'Имя заказчика' %}</label>
                                <input name="name" type="text" class="form-control" id="name" autocomplete="family-name" required
                                value="{% spaceless %}
                                {% with user=view.request.user %}
                                    {% if user.is_authenticated %}
                                        {{ user.first_name }}
                                    {% endif %}
                                {% endwith %}
                                {% endspaceless %}"
                                >
                                {% if form.errors.name %}
                                {% for error in form.errors.name %}
                                <div class="form-text text-danger">
                                    {{ error|striptags }}
                                </div>
                                {% endfor %}
                                {% endif %}
                            </div>
                            <div class="mb-3" id="country-container">
                                <label for="country" class="form-label">{% translate 'Страна' %}</label>
                                <input name="country" type="text" class="form-control"
                                       id="country" value="{{ country }}" autocomplete="country"
                                       required readonly 
                                       style="background-color: var(--bs-secondary-bg); opacity: 1;">
                                {% if form.errors.country %}
                                {% for error in form.errors.country %}
                                <div class="form-text text-danger">
                                    {{ error|striptags }}
                                </div>
                                {% endfor %}
                                {% endif %}
                            </div>
                            <div class="mb-3" id="city-container">
                                <label for="city" class="form-label">{% translate 'Город' %}</label>
                                <input name="city" type="text" class="form-control"
                                       id="city" value="{{ city }}" autocomplete="address-level2"
                                       required readonly
                                       style="background-color: var(--bs-secondary-bg); opacity: 1;">
                                {% if form.errors.city %}
                                {% for error in form.errors.city %}
                                <div class="form-text text-danger">
                                    {{ error|striptags }}
                                </div>
                                {% endfor %}
                                {% endif %}
                            </div>
                            <div class="mb-3" id="postal-code-container">
                                <label for="postal-code" class="form-label">{% translate 'Почтовый индекс' %}</label>
                                <input name="postal_code" type="text" class="form-control" id="postal-code" autocomplete="postal-code" required>
                                {% if form.errors.postal_code %}
                                {% for error in form.errors.postal_code %}
                                <div class="form-text text-danger">
                                    {{ error|striptags }}
                                </div>
                                {% endfor %}
                                {% endif %}
                            </div>
                            <div class="mb-3" id="street-container">
                                <label for="street" class="form-label">{% translate 'Улица' %}</label>
                                <input name="street" type="text" class="form-control" id="street" autocomplete="address-line1" required>
                                {% if form.errors.street %}
                                {% for error in form.errors.street %}
                                <div class="form-text text-danger">
                                    {{ error|striptags }}
                                </div>
                                {% endfor %}
                                {% endif %}
                            </div>
                            <div class="mb-3" id="building-number-container">
                                <label for="building-number" class="form-label">{% translate 'Номер здания' %}</label>
                                <input name="building" type="text" class="form-control" id="building-number" required>
                                {% if form.errors.building %}
                                {% for error in form.errors.building %}
                                <div class="form-text text-danger">
                                    {{ error|striptags }}
                                </div>
                                {% endfor %}
                                {% endif %}
                            </div>
                            <div class="mb-3" id="apartment-container">
                                <label for="flat" class="form-label">{% translate 'Номер квартиры/офиса' %}</label>
                                <input name="flat" type="text" class="form-control" id="flat" autocomplete="address-line2" required>
                                {% if form.errors.flat %}
                                {% for error in form.errors.flat %}
                                <div class="form-text text-danger">
                                    {{ error|striptags }}
                                </div>
                                {% endfor %}
                                {% endif %}
                            </div>
                            <div class="mb-3" id="delivery-date-container">
                                <label for="delivery-date" class="form-label">{% translate 'Дата доставки' %}</label>
                                <input name="delivery_date" type="date" class="form-control" id="delivery-date" required>
                                {% if form.errors.delivery_date %}
                                {% for error in form.errors.delivery_date %}
                                <div class="form-text text-danger">
                                    {{ error|striptags }}
                                </div>
                                {% endfor %}
                                {% endif %}
                            </div>
                            <div class="mb-3" id="delivery-date-container">
                                <label for="delivery-time" class="form-label">{% translate 'Время доставки' %}</label>
                                <input name="delivery_time" type="time" class="form-control" id="delivery-time" required>
                                {% if form.errors.delivery_time %}
                                {% for error in form.errors.delivery_time %}
                                <div class="form-text text-danger">
                                    {{ error|striptags }}
                                </div>
                                {% endfor %}
                                {% endif %}
                                <div class="form-text text-success">
                                    {% translate 'Минимум 3 часа после оформления заказа. Мы сообщим Вам о возможности доставки.' %}
                                </div>
                            </div>
                            <div class="mb-3" id="recipient-address-form-container">
                                <label for="recipient-address-form" class="form-label">{% translate 'Форма обращения к получателю' %}</label>
                                <select class="form-select" id="recipient-address-form"
                                        name="recipient_address_form" autocomplete="honorific-prefix"
                                        required>
                                    <option value="" disabled selected>{% translate 'Выберите форму обращения' %}</option>
                                    <option value="Mr.">{% translate 'Уважаемый' %}</option>
                                    <option value="Mrs.">{% translate 'Уважаемая' %}</option>
                                  </select>
                                {% if form.errors.recipient_address_form %}
                                {% for error in form.errors.recipient_address_form %}
                                <div class="form-text text-danger">
                                    {{ error|striptags }}
                                </div>
                                {% endfor %}
                                {% endif %}
                            </div>
                            <div class="mb-3" id="recipient-name-container">
                                <label for="recipient-name" class="form-label">{% translate 'Имя получателя' %}</label>
                                <input name="recipient_name" type="text" class="form-control" id="recipient-name" autocomplete="family-name" required>
                                {% if form.errors.recipient_name %}
                                {% for error in form.errors.recipient_name %}
                                <div class="form-text text-danger">
                                    {{ error|striptags }}
                                </div>
                                {% endfor %}
                                {% endif %}
                            </div>
                            <div class="mb-3" id="recipient-phonenumber-container">
                                <label for="recipient-phonenumber" class="form-label">
                                    {% translate 'Номер телефона получателя'%}
                                </label>
                                <input name="recipient_phonenumber" type="text" class="form-control" id="recipient-phonenumber" required>
                                {% if form.errors.recipient_phonenumber %}
                                {% for error in form.errors.recipient_phonenumber %}
                                <div class="form-text text-danger">
                                    {{ error|striptags }}
                                </div>
                                {% endfor %}
                                {% endif %}
                            </div>
                            <div class="mb-3 form-check">
                                <input name="is_recipient" type="checkbox" class="form-check-input checkbox-dark" id="recipient-is-customer">
                                <label class="form-check-label" for="recipient-is-customer">
                                    {% translate 'Получатель - заказчик?' %}
                                </label>
                                {% if form.errors.is_recipient %}
                                {% for error in form.errors.is_recipient %}
                                <div class="form-text text-danger">
                                    {{ error|striptags }}
                                </div>
                                {% endfor %}
                                {% endif %}
                            </div>
                            <div class="mb-3 form-check">
                                <input name="is_surprise" type="checkbox" class="form-check-input checkbox-dark" id="surprise-delivery">
                                <label class="form-check-label" for="surprise-delivery">
                                    <strong>{% translate 'Сюрприз до последнего!' %}</strong>
                                    {% translate 'Мы не раскроем тайну вашего подарка, чтобы сделать момент ещё более волшебным.'%}
                                </label>
                                {% if form.errors.is_surprise %}
                                {% for error in form.errors.is_surprise %}
                                <div class="form-text text-danger">
                                    {{ error|striptags }}
                                </div>
                                {% endfor %}
                                {% endif %}
                            </div>
                            <div class="mb-3 form-floating">
                                <textarea class="form-control" name="message_card" id="message_card" resize="vertical" style="height: 100px;"></textarea>
                                <label for="message_card">{% translate 'Записка получателю' %}</label>
                            </div>
                            <div class="mb-3 form-floating">
                                <textarea class="form-control" name="instructions" id="instructions" resize="vertical" style="height: 100px;"></textarea>
                                <label for="message_card">{% translate 'Что нам стоит учесть?' %}</label>
                            </div>
                            <div class="mb-3 form-check">
                                <input name="is_agreement_accepted" type="checkbox" class="form-check-input checkbox-dark" id="agreement-accepting">
                                <label class="form-check-label" for="agreement-accepting">
                                    {% blocktranslate %}
                                    Я согласен(-а) с <a href="{{ agb_url }}" class="link-opacity-75">общими условиями и положениями</a> и
                                    <a href="{{ privacy_policy_url }}" class="link-opacity-75">политикой конфиденциальности и безопасности данных</a> 
                                    {{ site_name }}.
                                    {% endblocktranslate %}
                                </label>
                                {% if form.errors.is_agreement_accepted %}
                                {% for error in form.errors.is_agreement_accepted %}
                                <div class="form-text text-danger">
                                    {{ error|striptags }}
                                </div>
                                {% endfor %}
                                {% endif %}
                            </div>
                            <button type="submit" class="btn btn-dark-green" id="btn-checkout">
                                {% translate 'Оформить заказ' %}
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block additional_scripts %}
<script src="{% static 'cart/scripts/setMinimalDateAndTime.js' %}" defer></script>
<script src="{% static 'cart/scripts/addressInputsToggle.js' %}" defer></script>
<script src="{% static 'cart/scripts/emptyCartHandler.js' %}" defer></script>
<script src="{% static 'cart/scripts/increaseOrDecreaseProduct.js' %}" defer></script>
<script src="{% static 'cart/scripts/removeProduct.js' %}" defer></script>
<script src="{% static 'cart/scripts/clearCart.js' %}" defer></script>
<script src="{% static 'cart/scripts/moveOrRemoveRecommendedItemFromCart.js' %}" defer></script>
{% endblock %}
