{% extends "templates/base.html" %}
{% load static %}
{% load i18n %}

{% block additional_head_styles %}
{% endblock %}

{% block meta_tags %}
<title>{% translate 'Заказ оформлен' %} | {{ site_name }} </title>
{% endblock %}

{% block body %}
<div class="container px-4 py-5">
    <div id="content">
        <div id="header">
            <h1 class="text-center fs-3">
                {% blocktranslate with order_code=order.code %}
                Благодарим Вас за оформление заказа <br>{{ order_code }}
                {% endblocktranslate %}
            </h1>
        </div>
        <div id="body">
            <div class="d-flex flex-column">
                <span>
                    {% translate 'Дата оформления заказа' %}: {{ order.created_at }}
                </span>
                <span>
                    {% translate 'Дата доставки' %}: {{ order.delivery_date }}
                </span>
                <span>
                    {% translate 'Время доставки' %}: {{ order.delivery_time }}
                </span>
                <span>
                    {% translate 'Статус' %}: <strong>{{ order.get_status_display }}</strong>
                </span>
            </div>
            <br>
            <p>
                {% blocktranslate with email=order.email %}
                <strong>В скором времени мы свяжемся с Вами </strong>по поводу Вашего заказа по указанной электронной почте <strong>({{ email }})</strong>.
                <br>
                Так-же есть возможность связаться с нами по поводу Вашего заказа через мессенджеры. Мы ответим очень быстро! 🙏
                {% endblocktranslate %}
            </p>
        </div>
    </div>
    <a href="{% url 'mainpage:offers' %}#contact-us" class="btn btn-dark-green">{% translate 'Задать вопрос' %}</a>
</div>
{% endblock %}

{% block additional_scripts %}
{% endblock %}
