.venv/
**/__pycache__
**/**/.DS_Store

logs/celery/**
logs/django/**
logs/gunicorn/
logs/mysql/**
logs/redis/**
logs/nginx/**
logs/telegram/**
logs/stripe/**

nginx/access.log
nginx/error.log

media/**
!media/defaults/
static/**

.env
blumenhorizon_dump.sql
