{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">

<head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-KWXBK65TXT"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('consent', 'default', {
            'ad_storage': 'denied',
            'ad_user_data': 'denied',
            'ad_personalization': 'denied',
            'analytics_storage': 'denied'
        });

    gtag('config', 'G-KWXBK65TXT');
    </script>
    <script>
        function setCookie(name, value, days) {
            var expires = "";
            if (days) {
                var date = new Date();
                date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
                expires = "; expires=" + date.toUTCString();
            }
            document.cookie = name + "=" + (value || "") + expires + "; path=/; SameSite=None; Secure";
        }

        function getCookie(name) {
            var nameEQ = name + "=";
            var ca = document.cookie.split(';');
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') c = c.substring(1, c.length);
                if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
            }
            return null;
        }

        function consentGrantedAdStorage() {
            gtag('consent', 'update', {
                    'ad_storage': 'granted',
                    'ad_user_data': 'granted',
                    'ad_personalization': 'granted',
                    'analytics_storage': 'granted'
            });
            document.getElementById('cookieConsentBanner').style.display = 'none';
            setCookie('cookies_accepted', 'yes', 365);
        };

        function consentDeclined() {
            const cookieBanner = document.getElementById('cookieConsentBanner');
            cookieBanner.style.display = 'none';
        }

        document.addEventListener("DOMContentLoaded", function (){
            if (!(getCookie('cookies_accepted') === 'yes')) {
                document.getElementById('cookieConsentBanner').style.display = 'block';
            } else if (getCookie('cookies_accepted') === 'yes') {
                gtag('consent', 'update', {
                    'ad_storage': 'granted',
                    'ad_user_data': 'granted',
                    'ad_personalization': 'granted',
                    'analytics_storage': 'granted'
                });
            }
        });
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block localization_meta_tags %}
    {% endblock %}

    {{ meta_tags|safe }}
    {% block meta_tags %}
    {% endblock %}
  
    {% block json_ld %}
    {% endblock %}
    <link rel="shortcut icon" href="{% static 'templates/favicon.png' %}">
    <link href="https://fonts.cdnfonts.com/css/manrope" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <!-- LINKS -->
    {% block additional_head_links %}
    {% endblock %}

    <!-- STYLES -->
    <link rel="stylesheet" href="{% static 'styles/common.css' %}">
    {% block additional_head_styles %}
    {% endblock %}
</head>

<body class="text-dark">
    {% include "templates/header.html" %}
    <div id="toast-container" class="position-fixed top-0 start-50 translate-middle-x p-3 rounded"
        style="z-index: 1050;">
    </div>

    <div class="social-button-container">
        <button class="btn btn-dark-green social-button" onclick="toggleSocialList()">
            <i class="fa-solid fa-message fa-beat"></i>
        </button>
        <div class="social-list d-none" id="socialList">
            {% for social in socials_right_bottom %}
            <a href="{{ social.absolute_url }}" class="btn btn-outline-primary social-link mt-2" style="
                margin-right: .55rem;
                --bs-btn-color: {{ social.icon_hex_code }};
                --bs-btn-bg: {{ social.background_hex_code }};
                --bs-btn-border-color: {{ social.outline_hex_code }};
                --bs-btn-hover-bg: {{ social.background_hex_code }};
                --bs-btn-hover-border-color: {{ social.background_hex_code }};
                --bs-btn-active-bg: {{ social.background_hex_code }};
                --bs-btn-active-border-color: {{ social.background_hex_code }};
                --bs-btn-disabled-color: {{ social.background_hex_code }};
                --bs-btn-disabled-border-color: {{ social.background_hex_code }};
                "><i class="bi bi-{{ social.bootstrap_icon }}"></i></a>
            {% if forloop.last %}
            <a href="https://mail.google.com/mail/?view=cm&fs=1&to={{ company_email }}" class="btn btn-outline-primary social-link mt-2" style="
                margin-right: .55rem;
                --bs-btn-color: {{ social.icon_hex_code }};
                --bs-btn-bg: {{ social.background_hex_code }};
                --bs-btn-border-color: {{ social.outline_hex_code }};
                --bs-btn-hover-bg: {{ social.background_hex_code }};
                --bs-btn-hover-border-color: {{ social.background_hex_code }};
                --bs-btn-active-bg: {{ social.background_hex_code }};
                --bs-btn-active-border-color: {{ social.background_hex_code }};
                --bs-btn-disabled-color: {{ social.background_hex_code }};
                --bs-btn-disabled-border-color: {{ social.background_hex_code }};
                ">
                <i class="bi bi-envelope"></i>
            </a>
            {% endif %}
            {% endfor %}
        </div>
    </div>

    {% block body %}
    {% endblock body %}

    <!-- Баннер соглашения на использование cookies -->
    <div id="cookieConsentBanner"
         class="bg-soft-turquoise text-light"
         style="position: fixed; bottom: 0; left: 0; width: 100%;
                background-color: #333; padding: 15px 10px;
                display: none; z-index: 9999;
                text-align: center;">
        <p>
        {% blocktranslate %}
        Мы используем <span class="text-warning">cookies</span> для улучшения работы сайта.
        <br>
        Продолжая использовать сайт, Вы соглашаетесь на использование cookies.
        {% endblocktranslate %}
        </p>
        <button id="acceptCookies" class="btn btn-dark-green fw-bold" onclick="consentGrantedAdStorage()">{% translate 'Принять' %}</button>
        <button id="declineCookies" class="btn btn-dark-green fw-bold" onclick="this.parentNode.style.display = 'none';">{% translate 'Отклонить' %}</button>
    </div>
  
  <!-- Google Analytics (will be loaded dynamically after accepting "consent cookies") -->
    {% include "templates/footer.html" %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous">
    </script>
    <script src="{% url 'javascript-catalog' %}"></script>
    <script src="{% static 'scripts/cartButton.js' %}" defer></script>
    <script src="{% static 'scripts/showToast.js' %}" defer></script>
    <script src="{% static 'scripts/socialsButton.js' %}" defer></script>
    <script src="{% static 'scripts/liveSearch.js' %}" defer></script>
    <script src="{% static 'scripts/disableForm.js' %}" defer></script>
    {% block additional_scripts %}
    {% endblock %}
</body>

</html>