{% load static %}
{% load i18n %}

<header class="d-flex flex-column {% if not alert %}mb-5{% endif %}">
  <nav class="navbar navbar-expand-lg bg-soft-turquoise text-light">
    <div class="container">
      <a href="{% url 'mainpage:offers' %}" class="navbar-brand fs-3 text-light">
        <img src="{% static 'defaults/logo.png' %}" alt="{{ site_name }} logo" width="72" height="72" class="me-2">
        {{ site_name }}
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul id="fillers-links" class="text-end d-flex justify-content-end list-unstyled gap-2 align-items-center m-0 me-2">
          <div class="d-flex gap-2">
            <li class="nav-item">
              <a class="nav-link active text-light text-start" href="{% url 'mainpage:offers' %}" style="white-space: nowrap;">{% translate 'Главная' %}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light text-start" href="{% url 'catalogue:catalog' %}" style="white-space: nowrap;">{% translate 'Каталог' %}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light text-start" href="{% url 'mainpage:about' %}" style="white-space: nowrap;">{% translate 'О нас' %}</a>
            </li>
          </div>
          <div class="d-flex gap-2">
            <li class="nav-item">
              <a class="nav-link text-light text-start" href="{% url 'mainpage:delivery' %}" style="white-space: nowrap;">{% translate 'Доставка' %}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light text-start me-2" href="{% url 'mainpage:contact' %}" style="white-space: nowrap;">{% translate 'Контакты' %}</a>
            </li>
          </div>
      </div>
      <div id="header-right-panel" class="d-flex justify-content-center">
        <div class="dropdown me-2">
          {% get_available_languages as LANGUAGES %}
          <button class="btn btn-dark-green dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            {% get_current_language as CURRENT_LANGUAGE_CODE %}
            {% get_language_info for CURRENT_LANGUAGE_CODE as lang %}
            {{ lang.name_translated }}
          </button>
          <ul class="dropdown-menu">
            {% for lang_code, lang_name in LANGUAGES %}
            {% if lang_code == CURRENT_LANGUAGE_CODE %}
            {% elif lang_code == 'de' %}
            <li><a class="dropdown-item" href="/">{{ lang_name }}</a></li>
            {% else %}
            <li><a class="dropdown-item" href="/{{ lang_code }}/">{{ lang_name }}</a></li>
            {% endif %}
            {% endfor %}
          </ul>
        </div>
        <div id="header-right-panel-personal-profile" class="me-2">
          <a class="btn btn-dark-green" href="{% url 'accounts:me' %}">
            <i class="fa-solid fa-user fa-fade m-1" style="color: #ffffff; --fa-animation-duration: 2s; --fa-fade-opacity: 0.6;"></i>
          </a>
        </div>
        <div id="header-right-panel-cart" class="me-2">
          <a class="btn btn-dark-green" href="{% url 'cart:show' %}">
            <i class="fas fa-shopping-cart fa-fade m-1" style="color: #ffffff; --fa-animation-duration: 2s; --fa-fade-opacity: 0.6;"></i>
          </a>
        </div>
        <div class="d-flex position-relative" id="liveSearchForm" data-url="{% url 'live-search:search' %}">
          <input class="form-control me-2"
                 type="search"
                 placeholder="{% translate 'Поиск' %}"
                 aria-label="{% translate 'Поиск' %}"
                 name="q"
                 id="searchInput"
                 autocomplete="off">
          <div class="list-group position-absolute w-100 mt-5" id="searchResults"></div>
        </div>
      </div>
    </div>
  </nav>
</header>
{% if alert %}
<nav class="bg-danger w-100 p-3 text-light text-center mb-5">
  <span>{{ alert }}</span>
</nav>
{% endif %}