{% load static %}
{% load i18n %}

<div class="d-flex flex-column">
  <nav class="navbar navbar-expand-lg bg-soft-turquoise text-light">
    <div class="container">
      <a href="#" class="fw-bold navbar-brand fs-3 text-light">
        <img src="{% static 'templates/favicon.png' %}" alt="BlumenHorizon logo" width="72" height="72" class="me-2">
        {{ site_name }}
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active text-light" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="#">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="#">Pricing</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdownMenuLink" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown link
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search">
        <button class="btn btn-dark-green" type="submit">{% translate 'Поиск' %}</button>
      </form>
    </div>
  </nav>
  <nav class="nav nav-pills nav-fill mx-2 mt-2 d-flex flex-wrap justify-content-start gap-2">
    {% for category in categories %}
    <a class="text-light text-center nav-item nav-link bg-soft-turquoise d-flex justify-content-center align-items-center"
      style="flex: 1 1 calc(25% - 10px);" href="#">{{ category.name }}</a>
    {% endfor %}
  </nav>
</div>