{% load static %}
{% load i18n %}

<header class="d-flex flex-column mb-5">
  <nav class="navbar navbar-expand-lg bg-soft-turquoise text-light">
    <div class="container">
      <a href="{% url 'mainpage:offers' %}" class="navbar-brand fs-3 text-light">
        <img src="{% static 'templates/favicon.png' %}" alt="{{ site_name }} logo" width="72" height="72" class="me-2">
        {{ site_name }}
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul id="fillers-links" class="text-end d-flex justify-content-end list-unstyled gap-2 align-items-center m-0">
          <div class="d-flex gap-2">
            <li class="nav-item">
              <a class="nav-link active text-light text-start" href="{% url 'mainpage:offers' %}">{% translate 'Главная' %}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light text-start" href="{% url 'catalogue:catalog' %}">{% translate 'Каталог' %}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light text-start" href="{% url 'mainpage:about' %}">{% translate 'О нас' %}</a>
            </li>
          </div>
          <div class="d-flex gap-2">
            <li class="nav-item">
              <a class="nav-link text-light text-start" href="{% url 'mainpage:delivery' %}">{% translate 'Доставка' %}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light text-start me-2" href="{% url 'mainpage:contact' %}">{% translate 'Контакты' %}</a>
            </li>
          </div>
      </div>
      <div id="header-right-panel" class="d-flex justify-content-center">
        <form method="post" action="{% url 'set_language' %}" class="me-1" style="min-width: 70px;">
            {% csrf_token %}
            <input type="hidden" name="next" value="{% url 'mainpage:offers' %}">
            <select class="form-select" name="language" onchange="this.form.submit()">
                {% get_current_language as LANGUAGE_CODE %}
                {% get_available_languages as LANGUAGES %}
                {% for lang_code, lang_name in LANGUAGES %}
                    <option value="{{ lang_code }}" {% if lang_code == LANGUAGE_CODE %}selected{% endif %}>
                        {{ lang_name }}
                    </option>
                {% endfor %}
            </select>
        </form>
        <div id="header-right-panel-personal-profile" class="me-2">
          <a class="btn btn-dark-green" href="{% url 'accounts:me' %}">
            <i class="fa-solid fa-user fa-fade m-1" style="color: #ffffff; --fa-animation-duration: 2s; --fa-fade-opacity: 0.6;"></i>
          </a>
        </div>
        <div id="header-right-panel-cart" class="me-2">
          <a class="btn btn-dark-green" href="{% url 'cart:show' %}">
            <i class="fas fa-shopping-cart fa-fade m-1" style="color: #ffffff; --fa-animation-duration: 2s; --fa-fade-opacity: 0.6;"></i>
          </a>
        </div>
        <div class="d-flex position-relative" id="liveSearchForm" data-url="{% url 'live-search:search' %}">
          <input class="form-control me-2"
                 type="search"
                 placeholder="{% translate 'Поиск' %}"
                 aria-label="{% translate 'Поиск' %}"
                 name="q"
                 id="searchInput"
                 autocomplete="off">
          <div class="list-group position-absolute w-100 mt-5" id="searchResults"></div>
        </div>
      </div>
    </div>
  </nav>
</header>