{% extends 'admin/base_site.html' %}
{% load static %}
{% load i18n %}

{% block extrastyle %}
<link rel="stylesheet" href="{% static 'styles/common.css' %}">
{% endblock %}

{% block nav-global %}
<div style="display: flex; align-items: center; justify-content: center; margin-top: 10px;">
      {% get_available_languages as LANGUAGES %}
      {% get_current_language as CURRENT_LANGUAGE_CODE %}
      <ul style="display: flex; padding: 0; margin: 0; gap: 2;">
        {% for lang_code, lang_name in LANGUAGES %}
        {% if lang_code == CURRENT_LANGUAGE_CODE %}
        {% elif lang_code == 'de' %}
        <li style="list-style: none; padding: 0; margin-right: 5px;"><a href="/europe/admin">{{ lang_name }}</a></li>
        {% else %}
        <li style="list-style: none; padding: 0; margin-right: 5px;"><a href="/europe/{{ lang_code }}/admin">{{ lang_name }}</a></li>
        {% endif %}
        {% endfor %}
      </ul>
  </div>
{% endblock %}