{% extends "templates/base.html" %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-6 mx-auto mt-5 text-center">
                <h1>{{ title }}</h1>
                {{ user }}
                <div id="server-message" class="d-flex flex-column align-items-center">
                    {{ server_message }}
                </div>
                <form action="{% url "logout" %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Logout</button>
                </form>
            </div>
        </div>
    </div>
{% endblock body %}
