{% extends "templates/base.html" %}
{% load static %}
{% load i18n %}
{% load chunk_filters %}

{% block additional_head_styles %}
<link rel="stylesheet" href="{% static 'catalog/styles/common.css' %}">
{% endblock %}

{% block localization_meta_tags %}
    <link rel="{{ canonical_link.rel }}" href="{{ canonical_link.href }}">
    {% for alternate_link in alternate_links %}
        <link rel="{{ alternate_link.rel }}" hreflang="{{ alternate_link.hreflang }}" href="{{ alternate_link.href }}">
    {% endfor %}
    <link rel="{{ xdefault_link.rel }}" hreflang="{{ xdefault_link.hreflang }}" href="{{ xdefault_link.href }}">
{% endblock %}

{% block json_ld %}
<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "Product",
        "name": "{{ product.name }}",
        "image": [
          {% for image in product.images.all %}
            "{{ image.absolute_url }}"{% if not forloop.last %},{% endif %}
          {% endfor %}
        ],
        "@id": "{{ product.get_absolute_url }}",
        "description": "{{ product.description|striptags|escape }}",
        "category": {
            "@type": "CategoryCode",
            "name": "{{ product.subcategory.name }}",
            "codeValue": "{{ product.subcategory.code_value }}",
            "url": "{{ product.subcategory.get_absolute_url }}"
        },
        "sku": "{{ product.sku }}",
        "offers": {
            "@type": "Offer",
            "priceCurrency": "{{ currency_code }}",
            "price": "{{ product.tax_price_discounted|floatformat:'2u' }}",
            "availability": "https://schema.org/InStock",
            "itemCondition": "https://schema.org/NewCondition",
            "seller": {
                "@type": "Organization",
                "name": "{{ site_name }}"
            },
            "shippingDetails": {
                "@type": "OfferShippingDetails",
                "shippingRate": {
                    "@type": "MonetaryAmount",
                    "value": 0,
                    "currency": "{{ currency_code }}"
                },
                "shippingDestination": {
                    "@type": "DefinedRegion",
                    "addressCountry": "{{ country_code|upper }}"
                },
                "deliveryTime": {
                    "@type": "ShippingDeliveryTime",
                    "handlingTime": {
                        "@type": "QuantitativeValue",
                        "minValue": 0,
                        "maxValue": 1,
                        "unitCode": "DAY"
                    },
                    "transitTime": {
                        "@type": "QuantitativeValue",
                        "minValue": 0,
                        "maxValue": 1,
                        "unitCode": "DAY"
                    }
                }
            },
            "hasMerchantReturnPolicy": {
              "@type": "MerchantReturnPolicy",
              "applicableCountry": "{{ country_code|upper }}",
              "returnPolicyCategory": "https://schema.org/MerchantReturnNotPermitted"
            }
        }
    }
</script>
{% endblock %}

{% block body %}
<div class="container mt-5">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'mainpage:offers' %}" class="text-dark">{% translate 'Главная страница' %}</a>
            </li>
            {% for breadcrumb in breadcrumbs %}
            {% if forloop.last %}
                <li class="breadcrumb-item active" aria-current="page">
                   {{ breadcrumb.name }}
                </li>
            {% else %}
                <li class="breadcrumb-item">
                    <a href="{{ breadcrumb.url }}" class="text-dark">{{ breadcrumb.name }}</a>
                </li>
            {% endif %}
            {% endfor %}
        </ol>
    </nav>
    <div class="row">
        <div class="col-md-6">
            <div id="carouselProductImage" class="carousel slide">
                <div class="carousel-inner">
                    {% for image in product.images.all %}
                    <div class="carousel-item {% if forloop.first %}active{% endif %}">
                        <div class="image-wrapper">
                            <img src="{{ image.image.url }}" class="square-image rounded img-thumbnail"
                                 alt="{{ image.image_alt }}">
                        </div>
                    </div>
                    {% empty %}
                    <div class="carousel-item active">
                        <div class="image-wrapper">
                            <img src="{% static 'defaults/no-image.webp' %}" class="square-image rounded img-thumbnail"
                                 alt="{% translate 'Изображение продукта временно отсутствует.' %}">
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% if product.images.all.count > 1 %}
                <div class="carousel-indicators mb-2">
                    {% for image in product.images.all %}
                    <button type="button" data-bs-target="#carouselProductImage" data-bs-slide-to="{{ forloop.counter0 }}" {% if forloop.counter0 == 0 %}class="active"{% endif %} aria-current="true" aria-label="{{ product.name }} slide indicator {{ forloop.counter }}"></button>
                    {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselProductImage" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">{% translate 'Предыдущее фото букета' %}</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselProductImage" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">{% translate 'Следующее фото букета' %}</span>
                </button>
                {% endif %}
            </div>
            {% if product.is_bouquet %}
                <div class="card mt-3">
                    <div class="card-body">
                        <p class="m-0 p-0">
                            {% blocktranslate %}
                            <strong>Обратите внимание:</strong> Внешний вид букета может незначительно отличаться от изображения из-за сезонности или наличия цветов.
                            О любых изменениях мы сообщим Вам лично 🌸
                            {% endblocktranslate %}
                        </p>
                    </div>
                </div>
            {% endif %}
        </div>

        <div class="col-md-6 product-info-container h-auto">
            <div class="product-info-card h-100 d-flex flex-column justify-content-between">
                <div id="content-container" class="d-flex flex-column h-100">
                    <div id="top-level-information" class="mb-3 d-flex justify-content-between align-items-center">
                        {% if product.has_discount %}
                        <h1 style="font-size: 1.5rem;" class="mb-0 pe-2">{{ product.name }}</h1>
                        <span class="badge bg-dark-green m-0 p-2 fs-5" style="height: fit-content;">-{{ product.discount }}%</span>
                        {% else %}
                        <h1 style="font-size: 1.5rem;" class="mb-0 mx-auto">{{ product.name }}</h1>
                        {% endif %}
                    </div>
                    <div id="our-advantages" class="d-flex justify-content-between flex-column align-items-center w-100 mb-3" style="max-width: 900px;">
                        <div id="advantages-container" class="d-flex justify-content-between w-100 mt-3">
                            {% if product.is_bouquet %}
                            <div class="advantage-container text-center d-flex flex-column align-items-center" style="max-width: 140px;">
                            <i id="composition-advantage" class="fa-solid fa-handshake fa-fade" style="color: #2c494b; --fa-animation-duration: 2s; --fa-fade-opacity: 0.6;"></i>
                            <small>{% translate "Состав букета можно менять" %}</small>
                        </div>
                            {% endif %}
                            <div class="advantage-container text-center d-flex flex-column align-items-center" style="max-width: 140px;">
                            <i id="connect-advantage" class="fa-solid fa-comments fa-fade" style="color: #2c494b; --fa-animation-duration: 2s; --fa-fade-opacity: 0.6;"></i>
                            <small>{% translate "Связь на каждом этапе" %}</small>
                        </div>
                            <div class="advantage-container text-center d-flex flex-column align-items-center" style="max-width: 140px;">
                            <i id="anonym-delivery-advantage" class="fa-solid fa-user-secret fa-fade" style="color: #2c494b; --fa-animation-duration: 2s; --fa-fade-opacity: 0.6;"></i>
                            <small>{% translate "Анонимная доставка" %}</small>
                        </div>
                        </div>
                    </div>
                    {% block additional_attributes %}
                    {% endblock %}
                    <div class="card mt-3">
                        <form id="individual-question-form"
                              class="d-flex w-100 flex-column justify-content-start align-items-start text-start card-body"
                              action="{% url 'catalogue:individual-question' %}"
                              method="POST">
                            <legend>{% translate 'Необходимо индивидуальное решение?' %}</legend>
                            {% csrf_token %}
                            <input type="hidden" name="item_slug" value="{{ product.slug }}">
                            <div class="mb-3 w-100">
                                <label for="{{ individual_question_form.contact_method.id_for_label }}" class="form-label">
                                    {% translate 'Тел. номер в соц.сети или ссылка профиля' %}
                                </label>
                                <div class="d-flex">
                                    {{ individual_question_form.contact_method }}
                                </div>
                                <div id="phoneNumberHelp" class="form-text">
                                    {% translate 'Предложим решение в течении 10 минут' %}
                                </div>
                            </div>
                            <div class="mb-3 form-check">
                                {{ individual_question_form.recall_me }}
                                <label class="form-check-label" for="{{ individual_question_form.recall_me.id_for_label }}">
                                    <small>
                                    {% translate 'Разрешаю мне перезвонить' %}
                                    </small>
                                </label>
                            </div>
                            <button type="submit" class="btn btn-dark-green">{% translate 'Связаться' %}</button>
                        </form>
                    </div>
                    <div class="card mb-3 mt-3">
                        <div class="card-body d-flex">
                            <div class="w-80 mb-0">
                                {% translate 'Так-же можно задать вопрос о продукте готовым текстом:' %}
                            </div>
                            <div class="d-flex gap-3 ms-3 w-20 justify-content-between align-items-center">
                                {% for social in socials_right_bottom %}
                                    <a class="link-body-emphasis"
                                       href="{{ social.absolute_url }}?&text={% blocktranslate with product_name=product.name %}Здравствуйте! У меня есть вопрос по поводу “{{ product_name }}” {% endblocktranslate %}">
                                        <i class="bi bi-{{ social.bootstrap_icon }} fs-1"
                                        style="color: {{ social.icon_hex_code }};"></i>
                                    </a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>                
                <div id="bottom-level-information" class="d-flex justify-content-between">
                    <ul class="list-unstyled product-attributes-list w-50">
                        <li class="p-0">
                            <span>{% translate 'Артикул' %}:</span>
                            <br>
                            {{ product.sku }}
                        </li>
                        <li class="text-success p-0">{% translate 'Есть в наличии' %}</li>
                    </ul>

                    <div class="mb-3 d-flex flex-column align-items-end" style="width: 40%;">
                        {% if product.has_discount %}
                            <span class="text-dark-green mb-0 fw-bold" style="font-size: x-large;">
                                {{ product.tax_price_discounted|floatformat:"2u" }} {{ currency_symbol }}
                            </span>
                            <span class="text-muted text-decoration-line-through mb-0" style="font-size: 1.25em;">
                                {{ product.tax_price|floatformat:"2u" }} {{ currency_symbol }}
                            </span>
                        {% else %}
                            <span class="mb-0 text-dark-green fw-bold fs-3" style="white-space: nowrap;">
                                {{ product.tax_price|floatformat:"2u" }} {{ currency_symbol }}
                            </span>
                        {% endif %}
                        <span class="text-secondary text-end" style="font-size: 0.8rem !important;">{% translate 'Включая НДС и доставку' %}</span>
                    </div>
                </div>
                <div class="d-flex mt-1">
                    <form
                        id="add-to-cart-form"
                        method="post"
                        class="w-100 me-2"
                        data-add-url="{% if product.is_bouquet %}{% url 'cart:bouquet-add' %}{% else %}{% url 'cart:product-add' %}{% endif %}"
                        data-remove-url="{% if product.is_bouquet %}{% url 'cart:bouquet-remove' %}{% else %}{% url 'cart:product-remove' %}{% endif %}"
                        data-is-in-cart="{% if product in cart %}true{% else %}false{% endif %}"
                    >
                        {% csrf_token %}
                        <input type="hidden" name="product_slug" value="{{ product.slug }}">
                        {% include 'templates/cartButton.html' %}
                    </form>
                    <form action="{% url 'catalogue:buy-item' %}" method="post" class="w-100">
                        {% csrf_token %}
                        <input type="hidden" name="category_slug" value="{{ view.kwargs.category_slug }}">
                        <input type="hidden" name="subcategory_slug" value="{{ view.kwargs.subcategory_slug }}">
                        <input type="hidden" name="item_slug" value="{% if product.is_bouquet %}{{ view.kwargs.bouquet_slug }}{% else %}{{ view.kwargs.product_slug }}{% endif %}">
                        <button type="submit" class="btn btn-success w-100 px-0 py-1">
                            <i class="fas fa-money-bill-wave fa-fade me-3 my-2" style="color: #ffffff; --fa-animation-duration: 2s; --fa-fade-opacity: 0.6;"></i>{% translate 'Купить' %}
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col">
            <div class="info-block p-4">
                <h2 class="info-title">{% translate 'Описание' %}</h2>
                <p class="info-text">{{ product.description|safe }}</p>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col">
            <div class="info-block p-4">
                <h2 class="info-title">{% translate 'Характеристики' %}</h2>
                <p class="info-text">{{ product.specs|safe }}</p>
            </div>
        </div>
    </div>

    <h3 class="text-center fs-2 my-4">{% translate 'Рекомендуемые продукты к покупке' %}</h2>
    <div id="bouquetCarousel" class="carousel slide w-100" data-bs-ride="carousel">
        <div class="carousel-inner cards-container">
        {% for recommended_products_chunk in recommended_products|chunked:4 %}
        <div data-bs-interval="5000" class="carousel-item {% if forloop.first %}active{% endif %} w-100">
            <div class="row m-0 w-100">
            {% for recommended_product in recommended_products_chunk %}
            <div class="col-6 col-md-3 col-lg-3 mb-4 d-flex product-card-in-slider">
                <a href="{{ recommended_product.get_relative_url }}" class="text-decoration-none text-dark w-100">
                <div class="card h-100 w-100" style="min-height: 404px;">
                    <div class="image-wrapper">
                    {% if recommended_product.has_discount %}
                    <span class="badge bg-dark-green m-2 p-2 fs-5 product-discount-badge">-{{ recommended_product.discount }}%</span>
                    {% endif %}
                    <img src="{{ recommended_product.first_image_url }}" class="card-img-top square-image"
                        alt="{{ recommended_product.first_image_alt }}"
                        loading="lazy">
                    </div>
                    <div class="card-body d-flex flex-column">
                    <span class="card-title fw-bold">{{ recommended_product.name }}</span>
                    <div class="mt-auto">
                        <p class="card-text d-flex flex-column">
                            {% if recommended_product.has_discount %}
                                <div class="d-flex justify-content-center">
                                    <span class="text-danger mb-0 product-discounted-price fw-bold">
                                        {{ recommended_product.tax_price_discounted|floatformat:"2u" }} {{ currency_symbol }}
                                    </span>
                                </div>
                                <div class="d-flex justify-content-center">
                                    <span class="text-muted text-decoration-line-through mb-0 product-old-price fw-bold">
                                        {{ recommended_product.tax_price|floatformat:"2u" }} {{ currency_symbol }}
                                    </span>
                                </div>
                            {% else %}
                            <div class="d-flex justify-content-center">
                                <span class="product-price fw-bold">
                                    {{ recommended_product.tax_price|floatformat:"2u" }} {{ currency_symbol }}
                                </span>
                            </div>
                            {% endif %}
                        </p>
                        <form method="post" class="add-to-cart-form w-100 me-2" data-add-url="{% url 'cart:bouquet-add' %}"
                        data-remove-url="{% url 'cart:bouquet-remove' %}"
                        data-is-in-cart="{% if recommended_product in cart %}true{% else %}false{% endif %}">
                        {% csrf_token %}
                        <input type="hidden" name="product_slug" value="{{ recommended_product.slug }}">
                        {% include 'templates/cartButton.html' %}
                        </form>
                    </div>
                    </div>
                </div>
                </a>
            </div>
            {% endfor %}
            </div>
        </div>
        {% endfor %}
        </div>
        
        {% if recommended_products|length > 4 %}
            <button class="carousel-control-prev outside-control" type="button" data-bs-target="#bouquetCarousel"
            data-bs-slide="prev" style="height: 7%; max-width: fit-content; top: 45%; margin-left: 3%;">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">{% translate 'Предыдущий слайд букетов' %}</span>
            </button>
            <button class="carousel-control-next outside-control" type="button" data-bs-target="#bouquetCarousel"
            data-bs-slide="next" style="height: 7%; max-width: fit-content; top: 45%; margin-right: 3%;">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">{% translate 'Следующий слайд букетов' %}</span>
            </button>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block additional_scripts %}
<script src="{% static 'catalog/scripts/individualQuestion.js' %}"></script>
{% endblock %}