.product-info-card {
    padding: 1rem;
    background-color: #f8f9fa;
    border-radius: 0.5rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.product-attributes-list li {
    margin-bottom: 0.5rem;
}

@media (max-width: 767px) {
    .product-info-container {
        margin-top: 0.5rem;
    }
}

.info-block {
    background-color: #f9f9f9;
    border-radius: 0.5rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
    border-left: 4px solid var(--turquoise-color);
}

.info-title {
    font-size: 1.25rem;
    font-weight: 600;
}

.info-text {
    font-size: 1rem;
    line-height: 1.6;
    color: #6c757d;
}

#add-review-bottom {
    display: none;
}

@media (max-width: 767px) {
    .info-block {
        padding: 1.5rem;
    }

    .info-title {
        font-size: 1.125rem;
    }

    .info-text {
        font-size: 0.95rem;
    }
    
    #add-review-top {
        display: none;
    }

    #add-review-bottom {
        display: inline-block;
    }
}

.badge-color {
    border-radius: 20%;
    width: 40px;
    height: 40px;
}

.category-image-wrapper {
    width: 110px;
    height: 110px;
    overflow: hidden;
    position: relative;
}

.category-square-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.flower-badge {
    white-space: normal;
    word-wrap: break-word;
    display: inline-block;
    text-align: center;
    max-width: 100%;
    line-height: 1.2; 
}

.category-container {
    min-width: min-content;
}

#no-reviews-svg svg {
    width: 300px;
    height: 300px;
}

.author-circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--dark-green-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

.reviews-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
}

#reviews-header {
    border-color: var(--bs-card-border-color) !important;
    border: var(--bs-card-border-width) solid;
}

#reviews {
    border: none;
}