{% extends "templates/base.html" %}
{% load static %}
{% load i18n %}

{% block additional_head_styles %}
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-6 mx-auto text-center">
            <ul>
                {% for bouquet in bouquets %}
                    <li>{{ bouquet.name }}</li>
                {% endfor %}
            </ul>
            
            <div class="pagination">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a href="?page=1">&laquo; первая</a>
                        <a href="?page={{ page_obj.previous_page_number }}">предыдущая</a>
                    {% endif %}
            
                    <span class="current">
                        Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}
                    </span>
            
                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">следующая</a>
                        <a href="?page={{ page_obj.paginator.num_pages }}">последняя &raquo;</a>
                    {% endif %}
                </span>
            </div>
        </div>
    </div>
</div>
{% endblock %}