{% extends "products/base_list.html" %}
{% load static %}
{% load i18n %}

{% block additional_filters %}
<label for="{{ filter.form.min_size.id_for_label }}" class="form-label my-3">{% translate 'Диаметр букета' %}</label>
<div class="d-flex flex-column">
    <div id="sizeSlider" class="form-range px-3"></div>
    <div class="d-flex mt-4">
        <div class="me-2">
            {{ filter.form.min_size }}
        </div>
        <div class="ms-2">
            {{ filter.form.max_size }}
        </div>
    </div>
</div>

<label for="{{ filter.form.min_amount_of_flowers.id_for_label }}" class="form-label my-3">
    {% translate 'Количество цветов в букете' %}
</label>
<div class="d-flex flex-column">
    <div id="amountOfFlowersSlider" class="form-range px-3"></div>
    <div class="d-flex mt-4">
        <div class="me-2">
            {{ filter.form.min_amount_of_flowers }}
        </div>
        <div class="ms-2">
            {{ filter.form.max_amount_of_flowers }}
        </div>
    </div>
</div>
{% endblock %}