{% extends 'products/base_detail.html' %}
{% load i18n %}

{% block additional_attributes %}
<ul class="list-unstyled product-attributes-list">
    <li>
        <strong>{% translate 'Количество цветов' %}:</strong> {{ product.amount_of_flowers }}
    </li>
    <li>
        <strong>{% translate 'Состав' %}:</strong>
        <ul class="list-inline">
            {% for flower in product.flowers.all %}
            <li class="list-inline-item badge bg-soft-turquoise p-2 mb-0 text-light">{{ flower.name }}</li>
            {% endfor %}
        </ul>
    </li>
    <li>
        <strong>{% translate 'Цветовая гамма' %}:</strong>
        <ul class="list-inline d-flex">
            {% for color in product.colors.all %}
            <li class="list-inline-item d-flex justify-content-center align-items-center">
                <span class="badge-color" style="background-color: {{ color.hex_code }};"></span>
                {{ color.name }}
            </li>
            {% endfor %}
        </ul>
    </li>
    <li>
        <strong>{% translate 'Размеры:' %}</strong>
        <div class="container mb-0 mt-2 p-0 d-flex justify-content-between">
            <button class="btn bg-soft-turquoise text-light" data-bs-target="#carouselProductImage" data-bs-slide-to="0">30cm</button>
            <button class="btn bg-soft-turquoise text-light" data-bs-target="#carouselProductImage" data-bs-slide-to="1">40cm</button>
            <button class="btn bg-soft-turquoise text-light" data-bs-target="#carouselProductImage" data-bs-slide-to="2">50cm</button>
        </div>
    </li>
</ul>
{% endblock %}