{% extends "templates/base.html" %}
{% block body %}
{% load i18n %}
{% load static %}

{% block additional_head_styles %}
<link rel="stylesheet" href="{% static 'accounts/styles/forms.css' %}">
{% endblock %}

<div class="container mb-5 authentication-form">
    <div class="row">
        <div class="col-10 mx-auto mt-5">
            <h1>{{ title }}</h1>
            {% for message in messages %}
            <div class="alert {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %} alert-success {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %} alert-danger {% endif %}"
                role="alert">
                {{ message }}
            </div>
            {% endfor %}
            {% for error in form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
            {% endfor %}

            <form method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="inputUsername" class="form-label">Email/{% translate 'Номер телефона' %}</label>
                    <input class="form-control" id="inputUsername" aria-describedby="usernameHelp" name="username"
                        autofocus>
                </div>
        </div>
        <div class="mb-3">
            <label for="inputPassword" class="form-label">{% translate 'Введите пароль' %}</label>
            <input type="password" class="form-control" id="inputPassword" autocomplete="current-password"
                name="password">
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input checkbox-dark" id="rememberMeCheck" name="remember">
            <label class="form-check-label" for="rememberMeCheck">{% translate "Запомнить меня" %}</label>
        </div>
        <div class="d-flex justify-content-between">
            <button type="submit" class="btn btn-dark-green">{% translate "Войти" %}</button>
            <a href="{% url 'accounts:signup' %}" class="btn btn-dark-green">{% translate "Зарегистрироваться" %}</a>
        </div>
        </form>
    </div>
</div>
</div>
{% endblock body %}