[Unit]
Description=Gunicorn instance to serve BlumenHorizon application in Paris
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/var/www/blumenhorizon_paris
ExecStart=/var/www/blumenhorizon_paris/.venv/bin/gunicorn -c gunicorn.conf.py

[Install]
WantedBy=multi-user.target

