{% extends "templates/base.html" %}
{% load static %}
{% load i18n %}

{% block json_ld %}
{% get_available_languages as LANGUAGES  %}
<script type="application/ld+json">
    {% if is_about_us %}
        {
            "@context": "https://schema.org",
            "@type": "OnlineStore",
            "@id": "https://{{ domain_name }}#flowershop",
            "description": "{{ json_ld_description }}",
            "name": "{{ site_name }}",
            "logo": "https://{{ domain_name }}{% static 'defaults/logo.png' %}",
            "hasMerchantReturnPolicy": {
                "@type": "MerchantReturnPolicy",
                "applicableCountry": "{{ country_code|upper }}",
                "returnPolicyCategory": "https://schema.org/MerchantReturnNotPermitted"
              },
            "contactPoint": {
                "@type": "ContactPoint",
                "email": "{{ company_email }}",
                "contactType": "Customer Service",
                "areaServed": "{{ country_code|upper }}",
                "availableLanguage": [{% for lang_code, lang_name in LANGUAGES %}"{{ lang_code }}"{% if not forloop.last %},{% endif %}{% endfor %}]
            },
            "sameAs": [
                {% for social in socials_right_bottom %}
                    "{{ social.absolute_url }}"{% if not forloop.last %},{% endif %}
                {% endfor %}
            ],
            "parentOrganization": {
                "@type": "OnlineStore",
                "@id": "{{ parent_organization_url }}",
            }
        }
    {% endif %}
</script>
{% endblock %}

{% block localization_meta_tags %}
    <link rel="{{ canonical_link.rel }}" href="{{ canonical_link.href }}">
    {% for alternate_link in alternate_links %}
        <link rel="{{ alternate_link.rel }}" hreflang="{{ alternate_link.hreflang }}" href="{{ alternate_link.href }}">
    {% endfor %}
    <link rel="{{ xdefault_link.rel }}" hreflang="{{ xdefault_link.hreflang }}" href="{{ xdefault_link.href }}">
{% endblock %}

{% block additional_head_styles %}
{% endblock %}

{% block body %}
<div class="container mx-auto d-flex flex-column align-items-center">
    <div class="seo-block">
        <img src="{{ image_url }}"
            alt="{{ image_alt }}" style="width: 100%; height: 100%; object-fit: cover;">
    </div>
    <div class="mt-5">
        {{ description|safe }}
    </div>
</div>
{% endblock %}

{% block additional_scripts %}
{% endblock %}