{% extends "templates/base.html" %}
{% load static %}
{% load i18n %}

{% block json_ld %}
{% endblock %}

{% block localization_meta_tags %}
    {% get_available_languages as LANGUAGES %}
    {% get_current_language as CURRENT_LANGUAGE_CODE %}

    {% for lang_code, lang_name in LANGUAGES %}
        {% language lang_code %}
            {% if lang_code == CURRENT_LANGUAGE_CODE %}
                <link rel="canonical" href="https://{{ domain_name }}{{ url }}">
                <link rel="alternate" hreflang="{{ lang_code }}" href="https://{{ domain_name }}{{ url }}">
                <link rel="x-default" hreflang="{{ lang_code }}" href="https://{{ domain_name }}{{ url }}">
            {% else %}
                <link rel="alternate" hreflang="{{ lang_code }}" href="https://{{ domain_name }}{{ url }}">
            {% endif %}
        {% endlanguage %}
    {% endfor %}
{% endblock %}

{% block additional_head_styles %}
{% endblock %}

{% block body %}
<div class="container mx-auto d-flex flex-column align-items-center">
    <div class="seo-block">
        <img src="{{ image_url }}"
            alt="{{ image_alt }}" style="width: 100%; height: 100%; object-fit: cover;">
    </div>
    <div class="mt-5">
        {{ description|safe }}
    </div>
</div>
{% endblock %}

{% block additional_scripts %}
{% endblock %}