{% extends "templates/base.html" %}
{% load static %}
{% load i18n %}
{% load chunk_filters %}
{% load extract_meta_tags %}


{% block json_ld %}
{% get_available_languages as LANGUAGES %}
{% get_current_language as CURRENT_LANGUAGE_CODE %}

<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "OnlineStore",
    "name": "{{ site_name }}",
    "legalName": "{{ site_name }}",
    "logo": "{% static 'defaults/logo.png' %}",
    "slogan": "Empowering individuals, delighting the chosen",
    "description": "{{ json_ld_description }}",
    "contactPoint": {
      "@type": "ContactPoint",
      "email": "{{ company_email }}",
      "contactType": "Customer Service",
      "areaServed": "EU",
      "availableLanguage": [{% for lang_code, lang_name in LANGUAGES %}"{{ lang_code }}"{% if not forloop.last %},{% endif %}{% endfor %}]
    },
    "sameAs": [
      {% for social in socials_right_bottom %}
        {{ social.absolute_url }}{% if not forloop.last %},{% endif %}
      {% endfor %}
    ],
    "hasOfferCatalog": {
      "@type": "OfferCatalog",
      "name": "{% translate 'Рекомендуемые букеты к покупке' %}",
      "itemListElement": [
        {% for recommended_product in recommended_bouquets %}
        {
          "@type": "Offer",
          "name": "{{ recommended_product.name }}",
          "url": "{{ recommended_product.get_absolute_url }}",
          "priceCurrency": "{{ currency_code }}",
          "price": "{{ recommended_product.tax_price_discounted|floatformat:'2u' }}",
          "availability": "https://schema.org/InStock",
          "itemOffered": {
            "@type": "Product",
            "name": "{{ recommended_product.name }}",
            "url": "{{ recommended_product.get_absolute_url }}",
          }
        }{% if not forloop.last %},{% endif %}{% endfor %}
      ]
    }
  }
</script>
{% endblock %}

{% block additional_head_styles %}
<link rel="stylesheet" href="{% static 'mainpage/styles/mainpage.css' %}">
{% endblock %}

{% block body %}
<div class="container mx-auto text-center d-flex flex-column align-items-center">
  <h1 class="mb-5">
    {% blocktranslate %}
    Цветочный интернет-магазин {{ site_name }}
    {% endblocktranslate %}
  </h1>

  <nav class="nav nav-pills nav-fill mx-2 mb-5 d-flex flex-wrap justify-content-start gap-2 w-100">
    {% for category in products_categories %}
    <a class="text-light text-center nav-item nav-link bg-soft-turquoise d-flex justify-content-center align-items-center fw-bold"
      style="flex: 1 1 calc(25% - 10px);" href="{% url 'catalogue:category' category.slug %}">
      <h2 class="fs-6 mb-0">
        {{ category.name }}
      </h2>
    </a>
    {% endfor %}
    {% for category in bouquets_categories %}
    <a class="text-light text-center nav-item nav-link bg-soft-turquoise d-flex justify-content-center align-items-center fw-bold"
      style="flex: 1 1 calc(25% - 10px);" href="{% url 'catalogue:category' category.slug %}">
      <h2 class="fs-6 mb-0">
        {{ category.name }}
      </h2>
    </a>
    {% endfor %}
  </nav>
  <div id="carouselIndicators" class="carousel slide w-100" style="max-width: 1000px;" data-bs-ride="carousel">
    <div class="carousel-indicators">
      {% for image in slider_images %}
      <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="{{ forloop.counter0 }}"
        class="{% if forloop.first %}active{% endif %}" aria-current="true" aria-label="Slide {{ forloop.counter }}">
      </button>
      {% endfor %}
    </div>
    <div id="mainpage-slider" class="carousel-inner">
      {% for image in slider_images %}
      <div data-bs-interval="3000" class="carousel-item {% if forloop.first %}active{% endif %} w-100"
        style="overflow: hidden;">
        <img src="{{ image.image.url }}" class="d-block w-100 carousel-img" alt="{{ image.image_alt }}">
      </div>
      {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">{% translate 'Назад' %}</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">{% translate 'Вперёд' %}</span>
    </button>
  </div>

  <div id="our-advantages" class="d-flex justify-content-between flex-column align-items-center mt-5 w-100"
    style="max-width: 1000px;">
    <h3 class="fs-2">{% translate 'Наши преимущества' %}</h2>
    <div id="advantages-container" class="d-flex justify-content-between w-100 mt-3">
      <div class="advantage-container text-center d-flex flex-column align-items-center" style="max-width: 140px;">
        <i id="composition-advantage" class="fa-solid fa-handshake fa-fade"
          style="color: #2c494b; --fa-animation-duration: 2s; --fa-fade-opacity: 0.6;"></i>
        <small>{% translate "Состав букета можно менять" %}</small>
      </div>
      <div class="advantage-container text-center d-flex flex-column align-items-center" style="max-width: 140px;">
        <i id="connect-advantage" class="fa-solid fa-comments fa-fade"
          style="color: #2c494b; --fa-animation-duration: 2s; --fa-fade-opacity: 0.6;"></i>
        <small>{% translate "Связь с клиентом на каждом этапе заказа" %}</small>
      </div>
      <div class="advantage-container text-center d-flex flex-column align-items-center" style="max-width: 140px;">
        <i id="anonym-delivery-advantage" class="fa-duotone fa-solid fa-user-secret fa-fade"
          style="color: #2c494b; --fa-animation-duration: 2s; --fa-fade-opacity: 0.6;"></i>
        <small>{% translate "Анонимная доставка" %}</small>
      </div>
    </div>
  </div>

  <h3 class="text-center fs-2 my-4">{% translate 'Рекомендуемые букеты к покупке' %}</h2>
  <div id="bouquetCarousel" class="carousel slide w-100" data-bs-ride="carousel">
    <div class="carousel-inner cards-container">
      {% for recommended_bouquets_chunk in recommended_bouquets|chunked:4 %}
      <div data-bs-interval="5000" class="carousel-item {% if forloop.first %}active{% endif %} w-100">
        <div class="row m-0 w-100">
          {% for recommended_bouquet in recommended_bouquets_chunk %}
          <div class="col-6 col-md-3 col-lg-3 mb-4 d-flex product-card-in-slider">
            <a href="{{ recommended_bouquet.get_relative_url }}" class="text-decoration-none text-dark w-100">
              <div class="card h-100 w-100" style="min-height: 404px;">
                <div class="image-wrapper">
                  {% if recommended_bouquet.has_discount %}
                  <span class="badge bg-dark-green m-2 p-2 fs-5 product-discount-badge">-{{ recommended_bouquet.discount }}%</span>
                  {% endif %}
                  {% if recommended_bouquet.first_image_uri %}
                  <img src="{{ MEDIA_URL }}{{ recommended_bouquet.first_image_uri }}" class="card-img-top square-image"
                    alt="{% if recommended_bouquet.first_image_alt %}{{ recommended_bouquet.first_image_alt }}{% else %}{% translate 'Изображение продукта временно отсутствует.' %}{% endif %}"
                    loading="lazy">
                  {% else %}
                  <img src="{% static 'defaults/no-image.webp' %}" class="card-img-top square-image"
                    alt="{% translate 'Изображение продукта временно отсутствует.' %}" loading="lazy">
                  {% endif %}
                </div>
                <div class="card-body d-flex flex-column">
                  <h5 class="card-title">{{ recommended_bouquet.name }}</h5>
                  <div class="d-flex flex-column justify-content-center mt-auto">
                    <p class="card-text">
                      {% if recommended_bouquet.has_discount %}
                      <strong class="text-danger mb-0 me-2">{{ recommended_bouquet.tax_price_discounted|floatformat:"2u" }} {{ currency_symbol }}</strong>
                      <strong class="text-muted text-decoration-line-through mb-0">{{ recommended_bouquet.tax_price|floatformat:"2u" }} {{ currency_symbol }}</strong>
                      {% else %}
                      <strong>{{ recommended_bouquet.tax_price|floatformat:"2u" }} {{ currency_symbol }}</strong>
                      {% endif %}
                    </p>
                    <form method="post" class="add-to-cart-form w-100 me-2" data-add-url="{% url 'cart:bouquet-add' %}"
                      data-remove-url="{% url 'cart:bouquet-remove' %}"
                      data-is-in-cart="{% if recommended_bouquet in bouquets_cart %}true{% else %}false{% endif %}">
                      {% csrf_token %}
                      <input type="hidden" name="product_slug" value="{{ recommended_bouquet.slug }}">
                      {% include 'templates/cartButton.html' %}
                    </form>
                  </div>
                </div>
              </div>
            </a>
          </div>
          {% endfor %}
        </div>
      </div>
      {% endfor %}
    </div>
    
    {% if recommended_bouquets|length > 4 %}
    <button class="carousel-control-prev outside-control" type="button" data-bs-target="#bouquetCarousel"
      data-bs-slide="prev" style="height: 35%; width: 10%; top: 32.5%;">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">{% translate 'Предыдущий слайд букетов' %}</span>
    </button>
    <button class="carousel-control-next outside-control" type="button" data-bs-target="#bouquetCarousel"
      data-bs-slide="next" style="height: 35%; width: 10%; top: 32.5%;">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">{% translate 'Следующий слайд букетов' %}</span>
    </button>
    {% endif %}
  </div>

  <h3 class="text-center fs-2 my-4">{% translate 'Рекомендуемые подарки к букетам' %}</h2>
  <div id="productCarousel" class="carousel slide w-100" data-bs-ride="carousel">
    <div class="carousel-inner cards-container">
      {% for recommended_products_chunk in recommended_products|chunked:4 %}
      <div data-bs-interval="5000" class="carousel-item {% if forloop.first %}active{% endif %} w-100">
        <div class="row m-0 w-100">
          {% for recommended_product in recommended_products_chunk %}
          <div class="col-6 col-md-3 col-lg-3 mb-4 d-flex product-card-in-slider">
            <a href="{{ recommended_product.get_relative_url }}" class="text-decoration-none text-dark w-100">
              <div class="card h-100 w-100" style="min-height: 404px;">
                <div class="image-wrapper">
                  {% if recommended_product.has_discount %}
                  <span class="badge bg-dark-green m-2 p-2 fs-5 product-discount-badge">-{{ recommended_product.discount }}%</span>
                  {% endif %}
                  {% if recommended_product.first_image_uri %}
                  <img src="{{ MEDIA_URL }}{{ recommended_product.first_image_uri }}" class="card-img-top square-image"
                    alt="{% if recommended_product.first_image_alt %}{{ recommended_product.first_image_alt }}{% else %}{% translate 'Изображение продукта временно отсутствует.' %}{% endif %}"
                    loading="lazy">
                  {% else %}
                  <img src="{% static 'defaults/no-image.webp' %}" class="card-img-top square-image"
                    alt="{% translate 'Изображение продукта временно отсутствует.' %}" loading="lazy">
                  {% endif %}
                </div>
                <div class="card-body d-flex flex-column">
                  <h5 class="card-title">{{ recommended_product.name }}</h5>
                  <div class="d-flex flex-column justify-content-center mt-auto">
                    <p class="card-text">
                      {% if recommended_product.has_discount %}
                      <strong class="text-danger mb-0 me-2">
                        {{ recommended_product.tax_price_discounted|floatformat:"2u" }} {{ currency_symbol }}
                      </strong>
                      <strong class="text-muted text-decoration-line-through mb-0">
                        {{ recommended_product.tax_price|floatformat:"2u" }} {{ currency_symbol }}
                      </strong>
                      {% else %}
                      <strong>
                        {{ recommended_product.tax_price|floatformat:"2u" }} {{ currency_symbol }}
                      </strong>
                      {% endif %}
                    </p>
                    <form method="post" class="add-to-cart-form w-100 me-2" data-add-url="{% url 'cart:product-add' %}"
                      data-remove-url="{% url 'cart:product-remove' %}"
                      data-is-in-cart="{% if recommended_product in products_cart %}true{% else %}false{% endif %}">
                      {% csrf_token %}
                      <input type="hidden" name="product_slug" value="{{ recommended_product.slug }}">
                      {% include 'templates/cartButton.html' %}
                    </form>
                  </div>
                </div>
              </div>
            </a>
          </div>
          {% endfor %}
        </div>
      </div>
      {% endfor %}
    </div>
    {% if recommended_products|length > 4 %}
      <button class="carousel-control-prev outside-control" type="button" data-bs-target="#productCarousel"
        data-bs-slide="prev" style="height: 35%; width: 10%; top: 32.5%;">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">{% translate 'Предыдущий слайд подарков' %}</span>
      </button>
      <button class="carousel-control-next outside-control" type="button" data-bs-target="#productCarousel"
        data-bs-slide="next" style="height: 35%; width: 10%; top: 32.5%;">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">{% translate 'Следующий слайд подарков' %}</span>
      </button>
      {% endif %}
  </div>

  <div class="card mt-4 mb-5">
    <form id="individual-order-form"
          class="d-flex w-100 flex-column justify-content-start align-items-start text-start card-body"
          action="{% url 'mainpage:individual-order-negotiate' %}"
          method="POST">
        <fieldset class="w-100">
          <legend class="text-center">
            <h3 class="fs-4 fw-normal" id="contact-us">
              {% translate 'Свяжитесь с нами' %}
            </h3>
          </legend>
          {% csrf_token %}
          <div class="form-text">{% translate 'Заполните форму, чтобы заказать букет из индивидуального состава.' %}</div>
          <div class="mb-3 w-100">
            <label for="{{ individual_order_form.first_name.id_for_label }}" class="form-label">
              {% translate 'Имя' %}
            </label>
            <div class="d-flex">
              {{ individual_order_form.first_name }}
            </div>
          </div>
          <div class="mb-3">
            <label for="{{ individual_order_form.contact_method.id_for_label }}" class="form-label">
              {% translate 'Тел. номер в любой соц. сети или ссылка профиля' %}
            </label>
            <div class="d-flex">
              {{ individual_order_form.contact_method }}
            </div>
          </div>
          <div class="mb-3 form-check">
            {{ individual_order_form.recall_me }}
            <label class="form-check-label" for="{{ individual_order_form.recall_me.id_for_label }}">
              <small>
                {% translate 'Разрешаю мне перезвонить' %}
              </small>
            </label>
          </div>
        </fieldset>
        <button type="submit" class="btn btn-dark-green">{% translate 'Связаться' %}</button>
    </form>
  </div>

  <div id="mainpage-description" class="text-start">
    {{ description|safe }}
  </div>

  <div class="seo-block">
    <img
      src="{% if seo_block.image %}{{ seo_block.image.url }}{% else %}{% static 'defaults/no-image.webp' %}{% endif %}"
      alt="{{ seo_block.image_alt }}" style="width: 100%; height: 100%; object-fit: cover;">
  </div>
</div>
{% endblock %}

{% block additional_scripts %}
<script src="{% static 'mainpage/scripts/individualOrder.js' %}" defer></script>
{% endblock %}